# 1

In [1]:
def swap(mylst):
  mididx = len(mylst) // 2
  mididx
  if len(mylst)%2==1:
    temp = mylst[0:mididx]
    mylst[0:mididx] = mylst[mididx+1:]
    mylst[mididx+1:] = temp
  else:
    temp = mylst[0:mididx]
    mylst[0:mididx+1] = mylst[mididx:]
    mylst[mididx:] = temp

In [2]:
mylst = list(range(23))
swap(mylst)
mylst

[12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 11,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [3]:
mylst = list(range(21))
swap(mylst)
mylst

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
mylst = list(range(20))
swap(mylst)
mylst

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
mylst = list(range(30))
swap(mylst)
mylst

[15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14]

In [6]:
# mylst = list(range(20))
# lastidx = len(mylst)-1
# for x in range(len(mylst)//2):
#   mylst[x], mylst[lastidx] = mylst[lastidx], mylst[x]
#   lastidx -= 1

# mylst

# 2

In [7]:
def evennumber(num):
  print('All even numbers from 0 to', num)
  evennum = [x for x in range(num+1) if x % 2 == 0]
  return evennum

In [8]:
n = int(input('Enter single digit integer: \n'))

Enter single digit integer:
20

In [9]:
print(evennumber(n))

All even numbers from 0 to 20
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
n = int(input('Enter single digit integer: \n'))

Enter single digit integer:
21

In [11]:
print(evennumber(n))

All even numbers from 0 to 21
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]